*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(107.75deg, rgba(231, 37, 24, 0.74) 3.41%, rgba(254, 100, 21, 0.74) 90.05%);
}
h1{
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF
}
.content{
    background: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
}

.button{
    background: rgba(255, 0, 0, 0.5);
}

